xmlt/part_2/XML_002_DTD.xml

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT резюме (профнавыки, допнавыки)>
<!ELEMENT профнавыки (веб?|финансы?)>
<!ELEMENT допнавыки (язык?|характер?)>
<!ELEMENT веб (сервер, клиент)>
<!ELEMENT сервер (навык)+>
<!ELEMENT клиент (навык)+>
<!ELEMENT навык (#PCDATA)>
<!ATTLIST навык уровень (Низкий|Средний|Высокий) #REQUIRED>
<!ATTLIST навык значимость (Низкая|Средняя|Высокая) #REQUIRED>
<!ATTLIST навык профопыт (Есть|Нет) #REQUIRED>
<!ELEMENT отметка (#PCDATA)> 
<!ATTLIST отметка дисциплина (Мультимедиа|Веб-дизайн|Графика|Логика) #REQUIRED>